body {
    background-color: rgb(201, 236, 250);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    margin: 20px;
}

.nav_a {
    text-decoration: none;
    color: rgb(169, 0, 161);
}

#home {
    background-color: rgb(169, 0, 161);
    color: rgb(201, 236, 250);
    padding: 20px;
    border-radius: 10px;
}

.logo {
    border-radius: 50%;
    margin: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

article {
    padding-left: 20px;
    /* color: rgb(169, 0, 161); */
}

article h1 {
    font-size: 40px;
}

@media (max-width:600px) {
    .logo {
        margin: 0px;
    }

    .nav_link {
        margin: 5px;
    }

    #home {
        background-color: rgb(169, 0, 161);
        color: rgb(201, 236, 250);
        padding: 20px;
        border-radius: 10px;
    }

    #products {
        justify-content: center;
    }

    #contact {
        visibility: visible;
        z-index: 1;
    }

    article {
        padding-left: 40px;
    }

    .baby_img {
        width: 250px;
    }

    article h1 {
        font-size: 30px;
    }
}

@media (max-width:786px) {
    .logo {
        margin: 0px;
    }

    .nav_link {
        margin: 5px;
    }

    #home {
        background-color: rgb(169, 0, 161);
        color: rgb(201, 236, 250);
        padding: 20px;
        border-radius: 10px;
    }

    #products {
        justify-content: center;
    }

    #contact {
        visibility: visible;
        z-index: 1;
    }

    article {
        padding-left: 40px;
    }

    .baby_img {
        width: 250px;
    }

    article h1 {
        font-size: 30px;
    }
}